# BI-geomorph-extraction

Extract barrier island metrics along transects for Bayesian Network Deep Dive

Requires: python 3, ArcPy

Author: Emily Sturdivant

email: esturdivant@usgs.gov; bgutierrez@usgs.gov

Notes:
- Run in ArcGIS Pro python 3 environment (access as: \ArcGIS\Pro\bin\Python\Scripts\proenv);
- Spatial reference used is NAD 83 UTM 19N: arcpy.SpatialReference(26918)
    
### Import modules

In [1]:
import os
import sys
import time
import shutil
import pandas as pd
import numpy as np
import arcpy
import CoastalVarExtractor.functions_warcpy as fwa
import CoastalVarExtractor.functions as fun

If you refuse to install:

```python
mod_path = "C:\Users\esturdivant\Code\BI-geomorph-extraction" # replace with path to module
sys.path.append(mod_path)
import CoastalVarExtractor.functions_warcpy as fwa
import CoastalVarExtractor.functions as fun
```

### Initialize variables

Based on the project directory, and the site and year you have input, setvars.py will set a bunch of variables as the names of folders, files, and fields. 1) set-up the project folder and paths:

In [2]:
from CoastalVarExtractor.setvars import *

site: Fisherman
year: 2014
setvars.py initialized variables.

## Transect-averaged values

In [9]:
#%% Create trans_df
trans_df = fwa.FCtoDF(extendedTrans, id_fld=tID_fld, extra_fields=extra_fields)
trans_df.to_pickle(os.path.join(scratch_dir, 'trans_df.pkl'))
print("Header of transects dataframe (rows 1-5 out of {}: ".format(trans_df.length))
trans_df.head()

Converting feature class to array...
Converting array to dataframe...
Header of transects dataframe:

         Azimuth  LCI90  LR2  LRR  LSE  TransOrder  TransectId  sort_ID
sort_ID
1            NaN    NaN  NaN  NaN  NaN         NaN         NaN        1
2            NaN    NaN  NaN  NaN  NaN         NaN         NaN        2
3            NaN    NaN  NaN  NaN  NaN         NaN         NaN        3
4            NaN    NaN  NaN  NaN  NaN         NaN         NaN        4
5            NaN    NaN  NaN  NaN  NaN         NaN         NaN        5

In [19]:
print("Header of transects dataframe (rows 1-5 out of {}): ".format(len(trans_df)))
trans_df.head()
# Why is the length 175, but the sort_ID values go up to 180?

Header of transects dataframe (rows 1-5 out of 175):

         Azimuth  LCI90  LR2  LRR  LSE  TransOrder  TransectId  sort_ID
sort_ID
1            NaN    NaN  NaN  NaN  NaN         NaN         NaN        1
2            NaN    NaN  NaN  NaN  NaN         NaN         NaN        2
3            NaN    NaN  NaN  NaN  NaN         NaN         NaN        3
4            NaN    NaN  NaN  NaN  NaN         NaN         NaN        4
5            NaN    NaN  NaN  NaN  NaN         NaN         NaN        5
6            NaN    NaN  NaN  NaN  NaN         NaN         NaN        6
7            NaN    NaN  NaN  NaN  NaN         NaN         NaN        7
8            NaN    NaN  NaN  NaN  NaN         NaN         NaN        8
9            NaN    NaN  NaN  NaN  NaN         NaN         NaN        9
10           NaN    NaN  NaN  NaN  NaN         NaN         NaN       10
11           NaN    NaN  NaN  NaN  NaN         NaN         NaN       11
12           NaN    NaN  NaN  NaN  NaN         NaN         NaN       12
13           NaN    NaN  NaN  NaN  NaN         NaN         NaN       13
14           NaN    NaN  NaN  NaN  NaN         NaN         NaN       14
15           NaN    NaN  NaN  NaN  NaN         NaN         NaN       15
16           NaN    NaN  NaN  NaN  NaN         NaN         NaN       16
17           NaN    NaN  NaN  NaN  NaN         NaN         NaN       17
18           NaN    NaN  NaN  NaN  NaN         NaN         NaN       18
19           NaN    NaN  NaN  NaN  NaN         NaN         NaN       19
20           NaN    NaN  NaN  NaN  NaN         NaN         NaN       20
21           NaN    NaN  NaN  NaN  NaN         NaN         NaN       21
22           NaN    NaN  NaN  NaN  NaN         NaN         NaN       22
23           NaN    NaN  NaN  NaN  NaN         NaN         NaN       23
24           NaN    NaN  NaN  NaN  NaN         NaN         NaN       24
25           NaN    NaN  NaN  NaN  NaN         NaN         NaN       25
26           NaN    NaN  NaN  NaN  NaN         NaN         NaN       26
27           NaN    NaN  NaN  NaN  NaN         NaN         NaN       27
28           NaN    NaN  NaN  NaN  NaN         NaN         NaN       28
29           NaN    NaN  NaN  NaN  NaN         NaN         NaN       29
30           NaN    NaN  NaN  NaN  NaN         NaN         NaN       30
...          ...    ...  ...  ...  ...         ...         ...      ...
151          NaN    NaN  NaN  NaN  NaN         NaN         NaN      151
152          NaN    NaN  NaN  NaN  NaN         NaN         NaN      152
153          NaN    NaN  NaN  NaN  NaN         NaN         NaN      153
154          NaN    NaN  NaN  NaN  NaN         NaN         NaN      154
155          NaN    NaN  NaN  NaN  NaN         NaN         NaN      155
156          NaN    NaN  NaN  NaN  NaN         NaN         NaN      156
157          NaN    NaN  NaN  NaN  NaN         NaN         NaN      157
158          NaN    NaN  NaN  NaN  NaN         NaN         NaN      158
159          NaN    NaN  NaN  NaN  NaN         NaN         NaN      159
160          NaN    NaN  NaN  NaN  NaN         NaN         NaN      160
161          NaN    NaN  NaN  NaN  NaN         NaN         NaN      161
162          NaN    NaN  NaN  NaN  NaN         NaN         NaN      162
163          NaN    NaN  NaN  NaN  NaN         NaN         NaN      163
164          NaN    NaN  NaN  NaN  NaN         NaN         NaN      164
165          NaN    NaN  NaN  NaN  NaN         NaN         NaN      165
166          NaN    NaN  NaN  NaN  NaN         NaN         NaN      166
167          NaN    NaN  NaN  NaN  NaN         NaN         NaN      167
168          NaN    NaN  NaN  NaN  NaN         NaN         NaN      168
169          NaN    NaN  NaN  NaN  NaN         NaN         NaN      169
170          NaN    NaN  NaN  NaN  NaN         NaN         NaN      170
171          NaN    NaN  NaN  NaN  NaN         NaN         NaN      171
172          NaN    NaN  NaN  NaN  NaN         NaN         NaN      172
173          NaN    NaN  NaN  NaN  NaN         NaN         NaN      173
174          NaN    NaN  NaN  NaN  NaN         NaN         NaN      174
175          NaN    NaN  NaN  NaN  NaN         NaN         NaN      175
176          NaN    NaN  NaN  NaN  NaN         NaN         NaN      176
177          NaN    NaN  NaN  NaN  NaN         NaN         NaN      177
178          NaN    NaN  NaN  NaN  NaN         NaN         NaN      178
179          NaN    NaN  NaN  NaN  NaN         NaN         NaN      179
180          NaN    NaN  NaN  NaN  NaN         NaN         NaN      180

[175 rows x 8 columns]

### Add XY and Z/slope from DH, DL, SL points within 10m of transects

In [28]:
#%% Add XY and Z/slope from DH, DL, SL points within 10m of transects
sl2trans_df = fwa.add_shorelinePts2Trans(extendedTrans, ShorelinePts, shoreline, tID_fld, proximity=pt2trans_disttolerance)
sl2trans_df.to_pickle(os.path.join(scratch_dir, 'sl2trans.pkl'))
fwa.DFtoFC(sl2trans_df, os.path.join(arcpy.env.scratchGDB, 'pts2trans_SL'), spatial_ref=utmSR, id_fld=tID_fld, xy=["SL_x", "SL_y"], keep_fields=['Bslope'])

dh2trans_df = fwa.find_ClosestPt2Trans_snap(extendedTrans, dhPts, trans_df, 'DH', tID_fld, proximity=pt2trans_disttolerance)
dh2trans_df.to_pickle(os.path.join(scratch_dir, 'dh2trans.pkl'))
fwa.DFtoFC(dh2trans_df, os.path.join(arcpy.env.scratchGDB, 'ptSnap2trans_DH'), spatial_ref=utmSR, id_fld=tID_fld, xy=["DH_snapX", "DH_snapY"], keep_fields=['DH_z'])

dl2trans_df = fwa.find_ClosestPt2Trans_snap(extendedTrans, dlPts, trans_df, 'DL', tID_fld, proximity=pt2trans_disttolerance)
dl2trans_df.to_pickle(os.path.join(scratch_dir, 'dl2trans.pkl'))
fwa.DFtoFC(dl2trans_df, os.path.join(arcpy.env.scratchGDB, 'ptSnap2trans_DL'), spatial_ref=utmSR, id_fld=tID_fld, xy=["DL_snapX", "DL_snapY"], keep_fields=['DL_z'])

arm2trans_df = fwa.ArmorLineToTrans_PD(extendedTrans, armorLines, sl2trans_df, tID_fld, proj_code, elevGrid_5m)
arm2trans_df.to_pickle(os.path.join(scratch_dir, 'arm2trans.pkl'))

#%% Add all the positions to the trans_df
trans_df = fun.join_columns_id_check(trans_df, sl2trans_df, tID_fld)
trans_df = fun.join_columns_id_check(trans_df, dh2trans_df, tID_fld)
trans_df = fun.join_columns_id_check(trans_df, dl2trans_df, tID_fld)
trans_df = fun.join_columns_id_check(trans_df, arm2trans_df, tID_fld)
trans_df.to_pickle(os.path.join(scratch_dir, 'trans_df_beachmetrics.pkl'))

trans_df.head()

Joining shoreline points to transects:
Duration at transect 100: 0:0:23.2 seconds
Duration: 0:0:40.6 seconds

Joining DH points to transects:
Getting name of Z field...
Looking for field _z
Looping through transects to find nearest point within 25 meters...
Duration at transect 100: 0:0:15.5 seconds
Duration: 0:0:26.2 seconds

Joining DL points to transects:
Getting name of Z field...
Looking for field _z
Looping through transects to find nearest point within 25 meters...
Duration at transect 100: 0:0:13.7 seconds
Duration: 0:0:23.3 seconds
Armoring file either missing or empty so we will proceed without armoring data. If shorefront tampering is present at this site, cancel the operations to digitize.

,Azimuth,LCI90,LR2,LRR,LSE,TransOrder,TransectId,DH_zmhw,DL_zmhw,Arm_zmhw,...,DH_snapX,DH_snapY,DL_x,DL_y,DL_z,DL_snapX,DL_snapY,Arm_x,Arm_y,Arm_z
sort_ID,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Add all the positions to the trans_df

In [3]:
# trans_df = pd.read_pickle(os.path.join(scratch_dir, 'trans_df_beachmetrics.pkl'))

In [4]:
#%% Calculate distances from shore to dunes, etc.
trans_df, dl2trans, dh2trans, arm2trans = fwa.calc_BeachWidth_fill(extendedTrans, trans_df, maxDH, tID_fld, MHW, fill)
trans_df.head()

,Azimuth,LCI90,LR2,LRR,LSE,TransOrder,TransectId,SL_x,SL_y,Bslope,...,Arm_z,DH_zmhw,DL_zmhw,Arm_zmhw,DistDL,DistDH,DistArm,uBW,uBH,ub_feat
sort_ID,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,413858.731959,4.107553e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,413793.780598,4.107501e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,413714.369066,4.107449e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,413617.213117,4.107396e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,413568.414994,4.107345e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Dist2Inlet

In [5]:
#%% Don't require trans_df
# Dist2Inlet: Calc dist from inlets SPATIAL
dist_df = fwa.measure_Dist2Inlet(shoreline, extendedTrans, inletLines, tID_fld)
dist_df.to_pickle(os.path.join(scratch_dir, 'dist2inlet_df.pkl'))
trans_df = fun.join_columns_id_check(trans_df, dist_df, tID_fld, fill=fill)

Duration: 0:0:2.0 seconds

In [6]:
trans_df.loc[9:11, 'Dist2Inlet']
trans_df.loc[9:11]

,Azimuth,LCI90,LR2,LRR,LSE,TransOrder,TransectId,SL_x,SL_y,Bslope,...,DH_zmhw,DL_zmhw,Arm_zmhw,DistDL,DistDH,DistArm,uBW,uBH,ub_feat,Dist2Inlet
sort_ID,,,,,,,,,,,,,,,,,,,,,
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,413418.949593,4.107138e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,671.673561
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,413117.748160,4.107079e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,405.881652
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,413095.470197,4.107028e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,461.565339

### Clip transects, get barrier widths *SPATIAL*

In [7]:
# Clip transects, get barrier widths *SPATIAL*
widths_df = fwa.calc_IslandWidths(extendedTrans, barrierBoundary, tID_fld=tID_fld)
trans_df = fun.join_columns_id_check(trans_df, widths_df, tID_fld, fill=fill)
trans_df.to_pickle(os.path.join(scratch_dir, extTrans_null+'_prePts.pkl'))
# trans_df = pd.read_pickle(os.path.join(scratch_dir, extTrans_null+'_prePts.pkl'))

Getting the width along each transect of the oceanside land (WidthPart)...
Converting feature class to array...
Converting array to dataframe...
Getting the width along each transect of the entire barrier (WidthFull)...
Converting feature class vertices to array with X and Y...
Converting array to dataframe...
Getting the width along each transect of above water portion of the barrier (WidthLand)...

## 5m Points

In [9]:
extTrans_tidy, barrierBoundary, transPts_presort

('tidyTrans', 'Fisherman2014_bndpoly_2sl', 'Fisherman2014_5mPts_unsorted')

In [10]:
#%%
# if os.path.exists(os.path.join(scratch_dir, transPts_null+'.pkl')):
#     pts_df = pd.read_pickle(os.path.join(scratch_dir,transPts_null+'.pkl'))
#     trans_df = pd.read_pickle(os.path.join(scratch_dir, extTrans_null+'_prePts.pkl'))
transPts_presort = os.path.join(arcpy.env.scratchGDB, transPts_presort)
if not arcpy.Exists(transPts_presort):
    pts_df, transPts_presort = fwa.TransectsToPointsDF(extTrans_tidy, barrierBoundary, fc_out=transPts_presort) # 4 minutes for FireIsland

if not 'ptZ' in pts_df.columns:
    # Extract elevation and slope at points
    if not arcpy.Exists(elevGrid_5m):
        fwa.ProcessDEM(elevGrid, elevGrid_5m, utmSR)
    if not arcpy.Exists(slopeGrid):
        arcpy.Slope_3d(elevGrid_5m, slopeGrid, 'PERCENT_RISE')
    arcpy.sa.ExtractMultiValuesToPoints(transPts_presort, [[elevGrid_5m, 'ptZ'], [slopeGrid, 'ptSlp']]) # 9 min for ParkerRiver
    pts_df = fwa.FCtoDF(transPts_presort, xy=True, dffields=[tID_fld,'ptZ', 'ptSlp'])
    pts_df.to_pickle(os.path.join(scratch_dir, 'pts_df_elev_slope.pkl'))
# pts_df = pd.read_pickle(os.path.join(scratch_dir, 'pts_df_elev_slope.pkl'))

pts_df.head()

Getting points every 5m along each transect and saving in dataframe...
Converting new dataframe to feature class...
Duration: 0:1:23.2 seconds
Converting feature class to array with X and Y...
Converting array to dataframe...

In [11]:
pts_df.head()

         SHAPE@X       SHAPE@Y      ptSlp       ptZ  sort_ID
0  413858.731959  4.107553e+06        NaN  0.291795      1.0
1  413863.729566  4.107553e+06  34.922112  1.894206      1.0
2  413868.727172  4.107553e+06  17.756172  3.615727      1.0
3  413873.724779  4.107553e+06   2.016183  3.803961      1.0
4  413878.722385  4.107553e+06   1.850719  3.841762      1.0

### Calculate DistSeg, Dist_MHWbay, DistSegDH, DistSegDL, DistSegArm, sort points

In [12]:
#%%
# Calculate DistSeg, Dist_MHWbay, DistSegDH, DistSegDL, DistSegArm, sort points
pts_df = fun.join_columns(pts_df, trans_df, tID_fld)
pts_df = fun.prep_points(pts_df, tID_fld, pID_fld, MHW, fill)
# Aggregate ptZmhw to max and mean and join to transPts and extendedTransects
pts_df, zmhw = fun.aggregate_z(pts_df, MHW, tID_fld, 'ptZ', fill)
trans_df = fun.join_columns(trans_df, zmhw) # join new fields to transects
pts_df = fun.join_columns(pts_df, trans_df, tID_fld) # Join transect values to pts

# Housecleaning
trans_df.drop(extra_fields, axis=1, inplace=True, errors='ignore') # Drop extra fields
pts_df.drop(extra_fields, axis=1, inplace=True, errors='ignore') # Drop extra fields

#%% Save dataframes to open elsewhere or later
trans_df.to_pickle(os.path.join(scratch_dir, extTrans_null+'.pkl'))
pts_df.to_pickle(os.path.join(scratch_dir, transPts_null+'.pkl'))

In [3]:
pts_df = pd.read_pickle(os.path.join(scratch_dir, transPts_null+'.pkl'))
trans_df = pd.read_pickle(os.path.join(scratch_dir, extTrans_null+'.pkl'))
pts_df.head()

,SplitSort,seg_x,seg_y,ptSlp,ptZ,sort_ID,Dist_Seg,DistSegArm,DistSegDH,DistSegDL,...,DistArm,uBW,uBH,ub_feat,Dist2Inlet,WidthFull,WidthLand,WidthPart,mean_Zmhw,max_Zmhw
0,0,413858.731959,4.107553e+06,NaN,0.291795,1.0,2.793968e-09,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,54.683072,54.68405,54.68405,54.68405,2.751267,3.501762
1,1,413863.729566,4.107553e+06,34.922112,1.894206,1.0,5.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,54.683072,54.68405,54.68405,54.68405,2.751267,3.501762
2,2,413868.727172,4.107553e+06,17.756172,3.615727,1.0,1.000000e+01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,54.683072,54.68405,54.68405,54.68405,2.751267,3.501762
3,3,413873.724779,4.107553e+06,2.016183,3.803961,1.0,1.500000e+01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,54.683072,54.68405,54.68405,54.68405,2.751267,3.501762
4,4,413878.722385,4.107553e+06,1.850719,3.841762,1.0,2.000000e+01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,54.683072,54.68405,54.68405,54.68405,2.751267,3.501762

## Outputs

In [14]:
#%% Join calculated transect values to the transect FC.
trans_fc = fwa.JoinDFtoFC(trans_df, extendedTrans, tID_fld, out_fc=extTrans_fill)
# DeleteExtraFields(trans_fc, trans_flds)
fwa.CopyFCandReplaceValues(trans_fc, fill, None, out_fc=extTrans_null, out_dir=home)
# Save final SHP with fill values
arcpy.FeatureClassToFeatureClass_conversion(trans_fc, scratch_dir, extTrans_shp+'.shp')

OUTPUT: Fisherman2014_extTrans_null

### Save final pts with fill values as CSV

In [15]:
#%% Save final pts with fill values as CSV
if not pID_fld in pts_df.columns:
    pts_df.reset_index(drop=False, inplace=True)
csv_fname = os.path.join(scratch_dir, transPts_fill +'.csv')
pts_df.to_csv(os.path.join(scratch_dir, transPts_fill +'.csv'), na_rep=fill, index=False)
print("OUTPUT: {}".format(csv_fname))

OUTPUT: \\Mac\stor\Projects\TransectExtraction\Fisherman2014\scratch\Fisherman2014_transPts_fill.csv

### Create Beach Width raster by joining DF to ID raster

In [4]:
#%% Create Beach Width raster by joining DF to ID raster
if not arcpy.Exists(rst_transIDpath):
    outEucAll = arcpy.sa.EucAllocation(extTrans_tidy, maximum_distance=50, cell_size=cell_size, source_field=tID_fld)
    outEucAll.save(os.path.basename(rst_transIDpath))
out_rst = fwa.JoinDFtoRaster(trans_df, rst_transID, bw_rst, fill, tID_fld, 'uBW')

OUTPUT: fish14_ubw. Field "Value" is ID and "uBW" is beachwidth.

### Convert pts_df to FC, both pts and trans (pts_fc, trans_fc)

In [5]:
#%% Convert pts_df to FC, both pts and trans (pts_fc, trans_fc)
pts_fc = fwa.DFtoFC_large(pts_df, out_fc=os.path.join(arcpy.env.workspace, transPts_fill), spatial_ref=utmSR, df_id=pID_fld, xy=["seg_x", "seg_y"])
# DeleteExtraFields(pts_fc, pt_flds+trans_flds)
# Save final FCs with null values, final SHP and XLS with fill values
fwa.CopyFCandReplaceValues(pts_fc, fill, None, out_fc=transPts_null, out_dir=home)
arcpy.FeatureClassToFeatureClass_conversion(pts_fc, scratch_dir, transPts_shp+'.shp')
try:
    xls_fname = os.path.join(scratch_dir, transPts_fill +'.xlsx')
    pts_df.to_excel(xls_fname, na_rep=fill, index=False)
    print("OUTPUT: {}".format(xls_fname))
except:
    print("No Excel file created. You'll have to do it yourself from the CSV.")

Converting points DF to FC...
OUTPUT: \\Mac\stor\Projects\TransectExtraction\Fisherman2014\Fisherman2014.gdb\Fisherman2014_transPts_fill
Duration: 0:2:38.4 seconds
OUTPUT: Fisherman2014_transPts_null
No Excel file created. You'll have to do it yourself from the CSV.